*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    background-color: white;
}

@font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url('../PRUEBA/FUENTES/Poppins-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: Ubuntu-BoldItalic;
    src: url('../PRUEBA/FUENTES/Ubuntu-BoldItalic.ttf');
}
@font-face {
    font-family: Poppins-BoldItalic;
    src: url('../PRUEBA/FUENTES/Poppins-BoldItalic.ttf');
}
@font-face {
    font-family: Poppins-Bold;
    src: url('../PRUEBA/FUENTES/Poppins-Bold.ttf');
}

/*-----hero section-----*/

.hero{
    height: 60vh !important;
}
.hero_panel_color_cuadrado{
    height: 60vh !important;
    width: 380px;
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 0 100%);
}
.hero_panel_color_uno{
    height: 60vh !important;
}
.hero_panel_color_dos{
    height: 60vh !important;
    right: 180px;
}
video{
    height: 60vh;
}
.hero_panel_color_uno{
    right: 175px !important;; 
}
.hero_top_titulo {
    font-size: 60px;
}
/*--------main----------*/


/*------ About Us ------*/

.about_contenido_contenedor{ 
    margin-top: 2% ; 
}
.about_titulo{
    font-family: Poppins-BoldItalic;
    font-size: 40px;
    font-style: italic;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    color: #971F5F;

}
.about_informacion article{
    margin-top:30px ;
    text-align: justify;
}
.about_informacion article p::first-letter{
    font-family: Poppins-ExtraBoldItalic;
    font-size: 25px;
}
.about_informacion article p{
    font-family: Ubuntu-BoldItalic;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: justify;
    display: inline !important;
    color: #7e0131;
}

.about_boton{
    padding: 5px 40px;
    border-radius: 15px;
    background: #971F5F;
    box-shadow: -4px 3px 0px 0px #30053780;
    font-family: Poppins-ExtraBoldItalic;
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    border: none;
    transform: skew(-10deg, 0deg);

}
.about_boton:hover{
    background: #da117c;
    color: #FFFFFF;

}
.about_caracteristicas{
    padding: 2px 100px;
    right: 0px;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    z-index: 100px;
}

.about_caracteristicas ul li div{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: linear-gradient(180deg, #681240 0%, #971F5F 100%);
}
.about_caracteristicas ul li p{
    font-family: Ubuntu-BoldItalic;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}
.about_caracteristicas ul li div img{
    height: 50px;
    width: 50px;
    left: 415px;
    top: 2003px;
    border-radius: 0px;
}
.about_titulo_img {
    height: 50px !important;
    width: 100px !important;
}
/*------ -------*/

.Subscribe_to_Newsletter {
    margin-top: 0px !important; 
    margin-bottom: 0px !important; 
    background: #971F5F17;
}

@media screen and (max-width: 768px){
    .hero_top_titulo {
        font-size: 45px;
    }
    .about_caracteristicas{
        width: min-content;
    }
    .hero_top_boton {
        font-size: 20px;
    }
    .hero_top_boton {
        padding: 5px 20px;
        font-size: 17px;
    }

}
@media screen and (max-width: 576px){
    .hero_top_titulo {
        font-size: 30px;
    }
}

