*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    background-color: white;
}

@font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url('../PRUEBA/FUENTES/Poppins-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: Ubuntu-BoldItalic;
    src: url('../PRUEBA/FUENTES/Ubuntu-BoldItalic.ttf');
}
@font-face {
    font-family: Poppins-BoldItalic;
    src: url('../PRUEBA/FUENTES/Poppins-BoldItalic.ttf');
}
@font-face {
    font-family: Poppins-Bold;
    src: url('../PRUEBA/FUENTES/Poppins-Bold.ttf');
}
/*------ About Us ------*/

.about_contenido_contenedor{ 
    margin-top: 10%;
}
.about_titulo{
    font-family: Poppins-BoldItalic;
    font-size: 40px;
    font-style: italic;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    color: #971F5F;

}
.about_informacion article{
    margin-top:30px ;
}
.about_informacion article h6{
    font-family: Poppins-ExtraBoldItalic;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #7e0131;
    display: inline !important;
}
.about_informacion article p{
    font-family: Ubuntu-BoldItalic;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    display: inline !important;
    color: #7e0131;
}

.about_boton{
    height: 52px;
    width: 274px;
    border-radius: 15px;
    background: #971F5F;
    box-shadow: -4px 3px 0px 0px #30053780;
    font-family: Poppins-ExtraBoldItalic;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    border: none;
    transform: skew(-10deg, 0deg);

}
.about_boton:hover{
    background: #da117c;
    color: #FFFFFF;

}
.about_caracteristicas{
    right: 0px;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    z-index: 100px;
}

.about_caracteristicas ul li div{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: linear-gradient(180deg, #681240 0%, #971F5F 100%);
}
.about_caracteristicas ul li p{
    font-family: Ubuntu-BoldItalic;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}
.about_caracteristicas ul li div img{
    height: 50px;
    width: 50px;
    left: 415px;
    top: 2003px;
    border-radius: 0px;
}
.about_titulo_img {
    height: 50px !important;
    width: 100px !important;
}
/*------ -------*/
.Newsletter_about{
    background: #971F5F17;
}

@media screen and (max-width: 800px){
    .about_caracteristicas {
        width: 200px; 
    }
    .about_caracteristicas ul{
        flex-direction: column !important; 
    }
    .about_caracteristicas ul li{
        flex-direction: column !important; 
}
/* @media screen and (max-width: 800px){
    .about_caracteristicas ul{
        flex-direction: column !important; 
    }
    .about_caracteristicas ul li{
        flex-direction: column !important; 
    }
}

@media screen and (max-width: 650px){
    .about_us_caracteristicas{
        margin-top: 1000px;
        height: 300px;
        width: 60%;     
    }
    .about_us_contenido_contenedor{
        width: 100%;
        height: 1000px;
    }
    
    .w-50 {
        width: 100%!important;
    }
}
@media screen and (max-width: 500px){
    .about_us_caracteristicas{
        margin-top: 1200px;
        height: 300px;
        width: 60%;     
    }
    .about_us_contenido_contenedor{
        width: 100%;
        height: 1200px;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    .about_us_contenido_contenedor{
        width: 100%;
        height: 1500px;
        padding: 20px;   
    }
    .about_us_informacion{
        width: 100%;
    }
    .about_us_contenido_contenedor {
        height: 1000px;
    }
    .about_us_caracteristicas{
        margin-top: 800px;
    }
    #nav_logo{
        height: 80px;
        width: 80px;
    }
    .mb-3{
        margin-bottom: 0px !important;
    }
    
}
@media screen and (max-width: 470px){
    .about_us_contenido_contenedor {
        height: 1200px;
    }
    .about_us_caracteristicas{
        margin-top: 1000px;
    }
    .about_us_titulo_img {
        height: 30px !important;
        width: 60px !important;
    }
} */