*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    background-color: white;
}

@font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url('../PRUEBA/FUENTES/Poppins-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: Ubuntu-BoldItalic;
    src: url('../PRUEBA/FUENTES/Ubuntu-BoldItalic.ttf');
}
@font-face {
    font-family: Poppins-BoldItalic;
    src: url('../PRUEBA/FUENTES/Poppins-BoldItalic.ttf');
}
@font-face {
    font-family: Poppins-Bold;
    src: url('../PRUEBA/FUENTES/Poppins-Bold.ttf');
}

/*-----hero section-----*/
.hero_panel_color_uno{
    right: 175px !important;; 
}

.hero{
    height: 60vh !important;
}
.hero_panel_color_cuadrado{
    height: 60vh !important;
    width: 350px;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
}
.hero_panel_color_uno{
    height: 60vh !important;
}
.hero_panel_color_dos{
    height: 60vh !important;
    right: 180px;
}
video{
    height: 60vh;
}
/*---------- contacto ---------------*/ 


.titulo_img {
    height: 50px !important;
    width: 100px !important;
}


.contacto input{
    height: 50px;
    background-color: #31313120 !important;
    box-shadow: -4px 3px 0px 0px #30053780 !important;
    font-family: Poppins-Bold;
    font-size: 17px;
    line-height: 38px;
    letter-spacing: 0.1em;

}
.contacto textarea{
    height: 80px;
    background-color: #31313120;
    box-shadow: -4px 3px 0px 0px #30053780 !important;
    border: none;
    outline: none;
    font-family: Poppins-Bold;
    font-size: 17px;
    line-height: 38px;
    letter-spacing: 0.1em;
}

.btn {
    padding: 5px 40px;
    border-radius: 15px;
    background: #FF9900;
    box-shadow: -4px 3px 0px 0px #30053780;
    font-family: Poppins-ExtraBoldItalic;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    border: none;
    transform: skew(-10deg  , 0deg);
}
.btn:hover {
    background: #ff790c;
    color: white;
}

.Subscribe_to_Newsletter {
    margin-top: 0px !important; 
    margin-bottom: 0px !important; 
    background: #971F5F17;
}
@media screen and (max-width: 768px){
    .hero_top_titulo {
        font-size: 45px;
    }
    .hero_top_boton {
        padding: 5px 20px;
        font-size: 17px;
    }

}
@media screen and (max-width: 576px){
    .hero_top_titulo {
        font-size: 30px;
    }
    
}

@media screen and (max-width: 500px){

    .w-75{
        width: 100% !important;
    }
    .m-5{
        margin: 80px 20px !important;
    }

}