*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    background-color: white;
}

@font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url('../PRUEBA/FUENTES/Poppins-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: Ubuntu-BoldItalic;
    src: url('../PRUEBA/FUENTES/Ubuntu-BoldItalic.ttf');
}
@font-face {
    font-family: Poppins-BoldItalic;
    src: url('../PRUEBA/FUENTES/Poppins-BoldItalic.ttf');
}
@font-face {
    font-family: Poppins-Bold;
    src: url('../PRUEBA/FUENTES/Poppins-Bold.ttf');
}

.preguntas_frecuentes{
    margin: 100px 0px !important;
}
.preguntas_frecuentes_titulo{
    font-family: Poppins-BoldItalic;
    font-size: 50px;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    color: #971F5F;
}
.card-header {
    width: 100%;
    border-radius: 15px;
    background: linear-gradient(89.71deg, #300537d0 23.22%, #971f5fcf 92.95%);
    box-shadow: -4px 3px 0px 0px #30053780;
    font-family: Poppins-ExtraBoldItalic;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    border: none;
}
.btn {
    width: 100%;
    font-family: Poppins-BoldItalic;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.1em;
    text-align: center;
    color: white;
    border: none !important;
    outline: none !important;
}
.btn-link:hover {
    color: #dcdbdb;
    text-decoration: none;
    outline: none !important;
    border: none !important;
}
.btn-link:active {
    color: #dcdbdb;
    text-decoration: none;
    outline: none !important;
    border: none !important;
}
.btn-link:active {
    color: #dcdbdb;
    text-decoration: none;
    outline: none !important;
    border: none !important;
}
.card-body{
    width: 100%;
    background: linear-gradient(89.71deg, #30053757 23.22%, #971f5f4a 92.95%);
    box-shadow: -4px 3px 0px 0px #30053780;
    font-family: Poppins-Bold;
    font-size: 18px;
    line-height: 38px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #971f5f;
    border: none;
}
.Newsletter_preguntas_frecuentes{
    background-color: #c711725e;
}