*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    background-color: white;
}

@font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url('../PRUEBA/FUENTES/Poppins-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: Ubuntu-BoldItalic;
    src: url('../PRUEBA/FUENTES/Ubuntu-BoldItalic.ttf');
}
@font-face {
    font-family: Poppins-BoldItalic;
    src: url('../PRUEBA/FUENTES/Poppins-BoldItalic.ttf');
}
@font-face {
    font-family: Poppins-Bold;
    src: url('../PRUEBA/FUENTES/Poppins-Bold.ttf');
}
/*-----hero section-----*/

.hero{
    height: 60vh !important;
}
.hero_panel_color_uno{
    height: 60% !important;
}
.hero_panel_color_dos{
    height: 60% !important;
}
video{
    height: 60vh;
}
/*-------------- Shop -----------*/
.shop_titulo{
    font-family: Poppins-BoldItalic;
    font-size: 45px;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    color: #971F5F;
}
.shop_titulo_principal{
    font-family: Poppins-BoldItalic;
    font-size: 70px;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    color: #971F5F;
}
.shop_short{
    background: #971F5F17;

}
.Newsletter_shop{
    background: #971F5F17;

}
.shop_card-body{
    height: max-content !important;
}

@media screen and (max-width: 500px){
    .best_sellers_card{
        width: 240px !important;
        transform: skew(0deg, 0deg);
    }
    .best_sellers_card-body {
        width: 220px !important;
        margin-top: 110%;
        margin-left: 20%;
    }
}
