*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    background-color: white;
}
@font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url('../PRUEBA/FUENTES/Poppins-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: Ubuntu-BoldItalic;
    src: url('../PRUEBA/FUENTES/Ubuntu-BoldItalic.ttf');
}
/*------header------*/
.header_color{
    background-color: white;
}
.navbar{
    top: 0px;
}
.nav-link{
    font-family: Ubuntu-BoldItalic;
    font-size: 20px !important;
    line-height: 23px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    color: #971F5F !important; 
}
.header_top_nav{
    font-size: 1.2em;
}
.header_top_nav:hover{
    color: #da117c !important;
}
.header_top_nav_color{
    color: #971F5F !important;
}
.nav-link:hover{
    color: #da117c !important;
}
nav .collapse{
   display: none !important;
}
.nav_redes_sociales {
    color: white !important;
}


/*----- hero */

video{
    z-index: -1;
    object-fit: cover;
  }
.hero_top{
    z-index: 10;
}
.hero_top_titulo{
    font-family: Poppins-ExtraBoldItalic;
    font-size: 80px;
    line-height: 120px;
    letter-spacing: 0em;
    text-align: right;
    color: #FFFFFF;
    text-shadow: -5px 4px #300537;
    z-index: 10;
    margin-right:13%;
}

.hero_top_boton{
    height: 63px !important;
    width: 311.5px !important;
    border-radius: 15px;
    background: #FF9900;
    border: none;
    box-shadow: -4px 3px 0px 0px #300537;
    font-family: Poppins-ExtraBoldItalic;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
    text-align: center;
    z-index: 10;
    margin-right:15%;
    transform: skew(-20deg, 0deg);
}
.hero_top_boton:hover{
    background: #ff790c;
}
.hero_panel_color_uno{
    width: 60%;
    right: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(48, 5, 55, 0.8) 0%, rgba(151, 31, 95, 0.8) 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 0 100%);
}
.hero_panel_color_dos{
    width: 40%;
    right: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(48, 5, 55, 0.8) 0%, rgba(151, 31, 95, 0.8) 100%);
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%);
}
.hero_redes_sociales_item{
    height: 40px !important;
    width: 40px !important;
    border-radius: 10px;
}
.hero_redes_sociales_item i{
    font-size: 25px;
    color: white;
}
.nav-item i{
    margin: 0px 10px;
}
.hero_redes_sociales {
    margin-right:70%;
}
.hero_redes_sociales li {
    list-style: none;
    margin: 0px 10px;
    border-radius: 50%;
    background: linear-gradient(90deg, #300537 0%, #971F5F 87.96%);
    outline: 2px solid #FFFFFF80;
}
.hero_redes_sociales_item i:hover {
    cursor: pointer;
    color: #da117c;
}

/*----------- SECCIONES  -----------*/
.seccion_titulo{
    font-family: Poppins-BoldItalic;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0em;
    color: #971F5F;
    margin-left: 5%;
}

/*------ Best seller ------*/
@font-face {
    font-family: Poppins-BoldItalic;
    src: url('../PRUEBA/FUENTES/Poppins-BoldItalic.ttf');
}
.best_sellers{
    padding: 50px 0px;
}
.best_sellers_titulo{
    font-family: Poppins-BoldItalic;
    font-size: 40px;
    font-style: italic;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    color: #971F5F;
}

.best_sellers_boton{
    margin-top: 20px;
    height: 52px;
    width: 274px;
    border-radius: 15px;
    background: #FF9900;
    box-shadow: -4px 3px 0px 0px #30053780;
    font-family: Poppins-ExtraBoldItalic;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 2px 2px 0px 0px #00000033;
    transform: skew(-20deg, 0deg);
}
.best_sellers_boton:hover{
    background: #ff790c;
}
.best_sellers_card{
    height: 366px;
    width: 351.24383544921875px;
    border-radius: 50px;
    background: #FFFDFD;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 4px 4px 0px #00000040;
    transform: skew(-10deg, 0deg);
}

.best_sellers_card img{
    height: 195px;
    width: 202px !important;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #971F5F9C
}
.best_sellers_card h4{
    font-family: Ubuntu-BoldItalic;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #681240;
}

.best_sellers_card-body{
    position: absolute;
    height: 45px;
    width: 279.5px;
    border-radius: 10px;
    padding: 5px;
    font-family: Ubuntu-BoldItalic;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    background: linear-gradient(90deg, #300537 9.44%, #971F5F 97.67%);
    color: white;
    text-align: center;
    margin-top: 95%;
    margin-left:30%;
}
.icon_carrito{
    top: 165px;
    left: 180px;
    height: 55px;
    width: 56px;
    border-radius: 50%;
    background: linear-gradient(90deg, #300537 0%, #971F5F 87.96%);
}
.icon_carrito i{
    font-size: 30px;
    color: white;
}

/*------ About Us ------*/
.about_us{
    margin-top: 100px;
    margin-bottom: 100px;
}
.about_us_contenido_contenedor{
    width: 90%;
    height: 700px;
    background: linear-gradient(82.98deg, #681240 40.89%, #971F5F 77.42%);
    padding: 50px 0px;
    padding-right: 30%; 
    clip-path: polygon(0 1%, 100% 0, 70% 100%, 0% 100%);
    margin-top: 10%;
}
.about_us_titulo{
    font-family: Poppins-BoldItalic;
    font-size: 40px;
    font-style: italic;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: justify;
    color: #FFFFFF;

}
.about_us_informacion{
    margin-top: 20px ;
    width: 80%;
}
.about_us_informacion article h6{
    font-family: Poppins-ExtraBoldItalic;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: justify;
    color: #FFFFFF;
    display: inline !important;
}
.about_us_informacion article p{
    font-family: Ubuntu-BoldItalic;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: justify;
    display: inline !important;
    color: #FFFFFF;
}

.about_us_boton{
    height: 52px;
    width: 274px;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: -4px 3px 0px 0px #30053780;
    font-family: Poppins-ExtraBoldItalic;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    transform: skew(-20deg, 0deg);
    border: none;
    color: #971F5F;
    text-shadow: 2px 2px 0px 0px #00000033;
}

.about_us_boton:hover{
    background: #da117c;
}

.about_us_img{
    position: absolute;
    height: 85%;
    width: 45%;
    right: 0px;
    margin-bottom:50px ;
    border-radius: 30px;
    clip-path: polygon(26% 0 , 100% 0 , 100% 70%, 90% 100%, 0 100%);
    z-index: 0;
}
.about_us_caracteristicas{
    position: absolute;
    height: 100px;
    width: 560px;
    right: 0px;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    z-index: 100px;
    margin-top: 640px;
    margin-right: 4%;
}

.about_us_caracteristicas ul li div{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: linear-gradient(180deg, #681240 0%, #971F5F 100%);
}
.about_us_caracteristicas ul li p{
    font-family: Ubuntu-BoldItalic;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}
.about_us_caracteristicas ul li div img{
    height: 50px;
    width: 50px;
    left: 415px;
    top: 2003px;
    border-radius: 0px;
}
.about_us_titulo_img {
    height: 50px !important;
    width: 100px !important;
}

/*------ Shop by category ------*/

.shop_by_category{
    margin-top: 0px !important;
    padding: 50px 0px;
}
.shop_by_category_titulo{
    font-family: Poppins-BoldItalic;
    font-size: 40px;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    color: #971F5F;
}
.shop_by_category_container{
    margin-top: -4% !important;
}

.shop_by_category_card_img{
    height: 366px;
    width: 351.24383544921875px;
    border-radius: 50px;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 4px 4px 0px #00000040;
    transform: skew(-10deg, 0deg);
}
.shop_by_category_card_img img{
    height: 366px;
    width: 351.24383544921875px;
    border-radius: 50px;
    object-fit: cover;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 4px 4px 0px #00000040;

}
.shop_by_category_card_titulo{
    height: 40px;
    width: 279.5px;
    border-radius: 10px;
    background: linear-gradient(90deg, #300537 9.44%, #971F5F 97.67%);
    font-family: Poppins-BoldItalic;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    transform: skew(-10deg, 0deg);

}

.shop_by_category_card:first-child{
    margin-top: 20%;
}
.shop_by_category_card:last-child{
    margin-top: -20%;
}
.shop_by_category_boton{
    margin-top: 10px;
    height: 52px;
    width: 274px;
    right: 30px;
    border-radius: 15px;
    background: #FF9900;
    box-shadow: -4px 3px 0px 0px #30053780;
    font-family: Poppins-ExtraBoldItalic;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 2px 2px 0px 0px #00000033;
    transform: skew(-20deg, 0deg);
}

.shop_by_category_boton:hover{
    background: #ff790c;
}


/*------- Testimonials -------*/

.testimonials{
    margin-top: 100px !important;
    width: 100%;
    height: 39rem;
    border-radius: 0px;
    background: #971F5F17;

}
.testimonials_titulo{
    font-family: Poppins-BoldItalic;
    font-size: 40px;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    color: #971F5F;
}
.testimonials_informacion{
    font-family: Ubuntu-BoldItalic;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: justify;
}
.testimonials_informacion h6{
    font-family: Ubuntu-BoldItalic;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: justify;
}
.testimonials_informacion button{
    height: 52px;
    width: 274px;
    border-radius: 15px;
    background: #971F5F;
    box-shadow: -4px 3px 0px 0px #30053780;
    color: white;
    font-family: Poppins-BoldItalic;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    transform: skew(-20deg, 0deg)

}
.testimonials_panel_color_uno{
    height: 42rem;
    width: 35rem;
    border-radius: 0px;
    background: linear-gradient(180deg, #300537 16.04%, #971F5F 116.04%);
    clip-path: polygon(100% 0, 100% 42%, 67% 100%, 0 100%, 58% 0);
    position: absolute;
    right: 0px;
    margin-top: -6rem;
}
.testimonials_panel_color_dos{
    height: 16rem;
    width: 8rem;
    border-radius: 0px;
    background: linear-gradient(180deg, #300537 16.04%, #971F5F 116.04%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    position: absolute;
    right: 0px;
    margin-top: 20rem;

}
.testimonials_boton{
    margin-top: 20px;
    height: 52px;
    width: 274px;
    border-radius: 15px;
    background: #FF9900;
    box-shadow: -4px 3px 0px 0px #30053780;
    font-family: Poppins-ExtraBoldItalic;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 2px 2px 0px 0px #00000033;
    transform: skew(-20deg, 0deg);
}
.testimonials_boton:hover{
    background-color: #da117c !important;
}

.testimonials_card{
    margin-top: 20px;
}
.testimonials_titulo_img{
    left: 0px;
}
.owl-dots{
    display: none;
}
.owl-nav{
    display: flex;
    justify-content: end;
    margin-right: 23%;
}
/*------- Subscribe_to_Newsletter -------*/

.Subscribe_to_Newsletter h2{
    font-family: Poppins-BoldItalic;
    font-size: 40px;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    color:#971F5F;
}
.Subscribe_to_Newsletter form input{
    width: 474px;
    height: 52px;
    border-radius: 15px;
    box-shadow: -4px 3px 0px 0px #30053780;
    background: #e6e4e4;
    border: none;
    transform: skew(-20deg, 0deg);
}
.Subscribe_to_Newsletter form div button{
    height: 52px;
    width: 274px;
    border-radius: 15px;
    background: #FF9900;
    box-shadow: -4px 3px 0px 0px #30053780;
    font-family: Poppins-ExtraBoldItalic;
    font-size: 25px;;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    border: none;
    transform: skew(-20deg, 0deg);
}

.Subscribe_to_Newsletter form div button:hover{
    background: #ff790c;
}

/*------- Footer -------*/
@font-face {
    font-family: Poppins-Bold;
    src: url('../PRUEBA/FUENTES/Poppins-Bold.ttf');
}
.footer_info{
    background: linear-gradient(89.71deg, #300537 23.22%, #971F5F 92.95%);
}
.footer_info div img{
    cursor: pointer;
}
.footer_info div ul li{
    display: flex;
    color: white;
    list-style: none;
    align-items: center;
}

.footer_info div{
    flex-grow: 1;
}
.footer_info div h6{
    font-family: Poppins-Bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

}
.footer_info div img{
    width: 103px;
    border-radius: 0px;

}
.punto{
    height: 10px;
    width: 10px;
    background-color: #FF289B9C;
    border-radius: 50%;
    flex-grow: 0;
    margin-right: 10px;

}
.footer_b{
    background: #300537;
}
.footer_b p{
    color: white;
}
.footer_b img{
    width: 80px;
    border-radius: 0px;
    cursor: pointer;

}

footer a{
    display: flex;
    color: white !important;
    text-decoration: none;
    background-color: transparent;
}
footer a:hover{
    color: #FF289B9C !important;
}
.bi-caret-right-fill{
    font-size: 3em;
    color: rgb(250, 250, 250);
}
.bi-caret-left-fill{
    font-size: 3em;
    color: rgb(250, 250, 250);
}
.owl-dots{
    display: none !important;
}

@media screen and (max-width: 1200px){

    .shop_by_category_card_img{
        height: 200px;
        width: 250px;
        border-radius: 50px;
        border: 1px solid #E4E4E4;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    .shop_by_category_card_img img{
        height: 200px;
        width: 250px;
        border-radius: 50px;
        object-fit: cover;
        border: 1px solid #E4E4E4;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
}
@media screen and (max-width: 1000px) {
    .testimonials {
        height: 42rem;
    }
    .testimonials_panel_color_uno{
        height: 45rem;
       
    }
    .testimonials_panel_color_dos{
        height: 19rem;     
    }
    .about_us_caracteristicas {
        height: 115px;
        width: 350px;
    }
    .about_us_caracteristicas ul{
        padding-top: 1rem;
    }
    .about_us_caracteristicas ul li{
        flex-direction: column !important;
    }
}
@media screen and (max-width: 950px){

    .shop_by_category_container{
        flex-direction: column !important;
    }
    .shop_by_category_card:first-child{
        margin-top: 10% !important;
    }
    .shop_by_category_card{
        margin-top: 30px !important;
    }
    .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
        display: block !important;
    }
    .shop_by_category_card_titulo{
        margin-top: 20px !important;
    }
    .shop_by_category_boton_contenedor{
        justify-content: center !important;
        margin-top: 20px;
    } 
}
@media screen and (max-width: 800px){
    .testimonials_item{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
    .testimonials_informacion{
        margin-top: 0px !important;
        background-color: #68124083;
        color: white;
        letter-spacing: 0.1em;
        padding: 20px !important;
    }
    .testimonials {
        height: 68rem;
    }
    .testimonials_panel_color_uno{
        height: 71rem;
       
    }
    .testimonials_panel_color_dos{
        margin-top: 31rem;
        height: 34rem;     
    }
    .about_us {
        flex-direction: column;
    }
    .about_us_img{
        display: none;
    }
    .about_us_caracteristicas {
        position: relative;
        margin: 0px;
    }
    .about_us_contenido_contenedor{
        width: 100%;
        height: max-content;
        clip-path:none;
    }
    .about_us {
        justify-content: center;
        align-items: center;
    }
    .about_us_informacion{
        width: 100% !important;
    }
    .about_us_contenido_contenedor{
        padding: 50px 0px !important;
    }
}
@media screen and (max-width: 650px){
    .hero_redes_sociales {
        margin-right: 40%;
        z-index: 100;
    }
    .w-50 {
        width: 100%!important;
    }
    .testimonials_informacion button{
        width: 200px;
    }
    .testimonials {
        height: 60rem;
    }
    .testimonials_panel_color_uno{
        display: none;
       
    }
    .testimonials_panel_color_dos{
       display: none;   
    }
    .owl-nav{
        margin-right: 35%;
    }
    .bi-caret-right-fill {
        color: #971F5F;
    }
    .bi-caret-left-fill {
        color: #971F5F;
    }
    .testimonials_informacion{
        background-color: transparent;
        color: #971F5F;
        letter-spacing: 0.1em;
        padding: 20px !important;
    } 
}
@media screen and (max-width: 500px){

    .hero_top_titulo{
        font-size: 40px;
    }
    .hero_top_boton{
        font-size: 20px;
        width: 100px
    }
    .mb-3{
        margin-bottom: 0px !important;
    }
    .Subscribe_to_Newsletter form input{
        margin-bottom: 15px;
    }
    .testimonials_titulo, 
    .about_us_titulo ,
    .best_sellers_titulo,
    .shop_by_category_titulo{
        font-size: 30px;
    }
    .Subscribe_to_Newsletter h2{
        font-size: 30px;
        text-align: center;
    }
    .best_sellers_card{
        width: 240px !important;
        transform: skew(0deg, 0deg);
    }
    .best_sellers_card-body {
        width: 220px !important;
        margin-top: 110%;
        margin-left: 20%;
    }
    .icon_carrito {
        top: 145px;
        left: 170px
    }

}
@media screen and (max-width: 470px){
    #nav_logo{
        width: 80px;
    }
    .hero_top_boton{
        width: 200px !important;
    }
    .testimonials {
        height: 69rem;
    }
    .about_us_caracteristicas ul {
        flex-direction: column !important;
    }
    .about_us_caracteristicas{
        height: max-content;
        width: max-content;
        padding: 5px ;
    }
}