*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    background-color: white;
}
@font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url('../PRUEBA/FUENTES/Poppins-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: Ubuntu-BoldItalic;
    src: url('../PRUEBA/FUENTES/Ubuntu-BoldItalic.ttf');
}
@font-face {
    font-family: Poppins-BoldItalic;
    src: url('../PRUEBA/FUENTES/Poppins-BoldItalic.ttf');
}

/*------header------*/
 
.header_color{
    background-color: white;
    box-shadow: -0.5px 0px 4px #3b3b3b;
}
.navbar{
    top: 0px;
}
.nav-link{
    font-family: Ubuntu-BoldItalic;
    font-size: 20px !important;
    line-height: 23px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    color: #971F5F !important; 
}
.header_top_nav{
    font-size: 1.2em;
}
.header_top_nav:hover{
    color: #da117c !important;
}
.header_top_nav_color{
    color: #971F5F !important;
}
.nav-link:hover{
    color: #da117c !important;
}
nav .collapse{
   display: none !important;
}
.nav_redes_sociales {
    color: white !important;
}
.nav-item i{
    margin: 0px 10px;
}
 
/*----- hero */


video{
    z-index: -1;
    object-fit: cover;
  }
.hero_top{
    z-index: 10;
}
.hero_top_titulo{
    font-family: Poppins-ExtraBoldItalic;
    font-size: 80px;
    letter-spacing: 0em;
    text-align: right;
    color: #FFFFFF;
    text-shadow: -5px 4px #300537;
    z-index: 10;
}

.hero_top_boton{
    padding: 5px 30px;
    border-radius: 15px;
    background: #FF9900;
    border: none;
    box-shadow: -4px 3px 0px 0px #300537;
    font-family: Poppins-ExtraBoldItalic;
    font-size: 25px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
    text-align: center;
    z-index: 10;
    transform: skew(-20deg, 0deg);
}

.hero_top_boton:hover{
    background: #ff790c;
}
/* .hero_panel_color_cuadrado{
    width: 500px;
    height: 100vh;
    right: 0px;
    background: linear-gradient(180deg, rgb(48, 5, 55) 0%, rgb(151, 31, 95) 100%);
    clip-path: polygon(64% 0, 100% 0, 100% 100%, 0% 100%);;
} */
.hero_panel_color_uno{
    width: 30%;
    right: 240px;
    top: 0px;
    background: linear-gradient(180deg, rgba(48, 5, 55, 0.8) 0%, rgba(151, 31, 95, 0.8) 100%);
    border-radius: 20px; 
    transform: skew(-20deg, 0deg);
}
.hero_panel_color_dos{
    width: 18%;
    right: 250px;
    top: 0px;
    background: linear-gradient(180deg, rgba(48, 5, 55) 0%, rgba(151, 31, 95) 100%);
    border-radius: 20px; 
    transform: skew(-20deg, 0deg);
}

.hero_redes_sociales_item{
    height: 40px !important;
    width: 40px !important;
    border-radius: 10px;
    z-index: 10;
}
.hero_redes_sociales_item i{
    font-size: 25px;
    color: white;
}
.hero_redes_sociales li {
    list-style: none;
    margin: 0px 10px;
    border-radius: 50%;
    background: linear-gradient(90deg, #300537 0%, #971F5F 87.96%);
    outline: 2px solid #FFFFFF80;
}
.hero_redes_sociales_item i:hover {
    cursor: pointer;
    color: #da117c;
}

/* ----    Secciones       ---*/
.secciones_titulo{
    font-family: Poppins-BoldItalic;
    font-size: 40px;
    font-style: italic;
    letter-spacing: 0em;
    color: #971F5F;
}

/*------ Best seller ------*/

.best_sellers{
    padding: 50px 0px;
}
.best_sellers_boton{
    padding: 5px 30px;
    border-radius: 15px;
    background: #FF9900;
    box-shadow: -4px 3px 0px 0px #30053780;
    font-family: Poppins-ExtraBoldItalic;
    font-size: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 2px 2px 0px 0px #00000033;
}
.best_sellers_boton:hover{
    background: #ff790c;
}
.best_sellers_card{
    height: 366px;
    width: 351.24383544921875px;
    border-radius: 50px;
    background: #FFFDFD;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.best_sellers_card img{
    height: 195px;
    width: 202px !important;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #971F5F9C
}
.best_sellers_card h4{
    font-family: Ubuntu-BoldItalic;
    font-size: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #681240;
}

.best_sellers_card-body{
    position: absolute;
    height: 45px;
    width: 250px;
    border-radius: 10px;
    padding: 5px;
    line-height: 37.5px;
    font-family: Ubuntu-BoldItalic;
    font-size: 30px;
    letter-spacing: 0em;
    text-align: left;
    background: linear-gradient(90deg, #300537 9.44%, #971F5F 97.67%);
    color: white;
    text-align: center;
    margin-top: 95%;
    margin-left:30%;
}
.item > a{
    text-decoration: none;
}
.icon_carrito{
    top: 165px;
    left: 180px;
    height: 55px;
    width: 56px;
    border-radius: 50%;
    background: linear-gradient(90deg, #300537 0%, #971F5F 87.96%);
}
.icon_carrito i{
    font-size: 30px;
    color: white;
}
.linea9{
    margin-top: 30rem;
    left: 0px;
    height: 250px;
    z-index: -1;
}
.linea10{
    margin-top: 26rem;
    left: 0px;
    height: 300px;
    z-index: -1;
}